In [2]:
import os
import numpy as np
import pandas as pd

from PIL import Image

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
classes = pd.read_csv('C:/Users/thoma/Documents/00GitHub/rbc_cnn/dataset.csv')

In [5]:
len(classes)

1552

In [6]:
df = pd.read_pickle('classifications.df.pkl')

In [7]:
classes.head()

,Unnamed: 0,annotator,cell,h,image,label,pk,w,x,y
0,0,tommy,588,40,681200836HV_002.jpg,Normal,127,42,2794,2216
1,1,tommy,588,40,681200836HV_002.jpg,Normal,128,42,2794,2216
2,7,tommy,1402,41,681200836HV_002.jpg,Normal,134,37,111,1333
3,8,tommy,1314,40,681200836HV_002.jpg,Normal,135,37,1605,1425
4,9,tommy,524,30,681200836HV_002.jpg,Abnormal,136,38,1789,2278

In [8]:
classes.columns = ['ID','annotator','cell','h','image','label','pk','w','x','y']

In [9]:
classes.head()

   ID annotator  cell   h                image     label   pk   w     x     y
0   0     tommy   588  40  681200836HV_002.jpg    Normal  127  42  2794  2216
1   1     tommy   588  40  681200836HV_002.jpg    Normal  128  42  2794  2216
2   7     tommy  1402  41  681200836HV_002.jpg    Normal  134  37   111  1333
3   8     tommy  1314  40  681200836HV_002.jpg    Normal  135  37  1605  1425
4   9     tommy   524  30  681200836HV_002.jpg  Abnormal  136  38  1789  2278

In [11]:
label_index = pd.read_csv('C:/Users/thoma/Documents/00GitHub/rbc_cnn/notebooks/label_index.csv')
label_index.head()

   ID     label
0   1    Normal
1   2  Abnormal

In [12]:
np.unique(df.label)

array(['Abnormal', 'Normal'], dtype=object)

In [13]:
classdict = {k:v for __, (k,v) in label_index.iterrows()}
classdict

{1L: 'Normal', 2L: 'Abnormal'}

In [14]:
classdict.keys()

[1L, 2L]

In [15]:
for cls in classdict:
    print cls

1
2

In [16]:
np.unique(df.label)

array(['Abnormal', 'Normal'], dtype=object)

In [16]:
def image(n):
    return Image.open('C:/Users/thoma/Documents/00GitHub/Cellavision_Trial_images/rbcs/{}'.format(n))

In [21]:
for cls in np.unique(df.label):
    print cls

Abnormal
Normal

In [20]:
# DON"T RUN AGAIN - THIS IS DONE

# get labeled images from smears

# for cls in np.unique(df.label):
    
#     try:
#         os.makedirs('C:/Users/thoma/Documents/00GitHub/rbc-cnn/mosaic/images/{}'.format(cls))
#     except OSError:
#         pass

#     images = df[df.label == cls]
#     for n, im in images.iterrows():
#         y = im.y
#         x = im.x
#         w = im.w
#         h = im.h
#         name = im.image
#         im = Image.fromarray(np.array(image(im.image))[y: y + h, x: x + w])
#         im.save('C:/Users/thoma/Documents/00GitHub/rbc-cnn/mosaic/images/{}/{}_{}.png'.format(cls, name, n))

KeyboardInterrupt:

In [23]:
df.head()

  annotator  cell   h                image     label   pk   w     x     y
0     tommy   588  40  681200836HV_002.jpg    Normal  127  42  2794  2216
1     tommy   588  40  681200836HV_002.jpg    Normal  128  42  2794  2216
7     tommy  1402  41  681200836HV_002.jpg    Normal  134  37   111  1333
8     tommy  1314  40  681200836HV_002.jpg    Normal  135  37  1605  1425
9     tommy   524  30  681200836HV_002.jpg  Abnormal  136  38  1789  2278

In [21]:
data = df.reset_index()
data.head()

,index,annotator,cell,h,image,label,pk,w,x,y
0,0,tommy,588,40,681200836HV_002.jpg,Normal,127,42,2794,2216
1,1,tommy,588,40,681200836HV_002.jpg,Normal,128,42,2794,2216
2,7,tommy,1402,41,681200836HV_002.jpg,Normal,134,37,111,1333
3,8,tommy,1314,40,681200836HV_002.jpg,Normal,135,37,1605,1425
4,9,tommy,524,30,681200836HV_002.jpg,Abnormal,136,38,1789,2278

In [61]:
for cls in np.unique(df.label):
    print cls

Abnormal
Normal

In [29]:
# don't understand: getdata(n)

thumb = Image.open('C:/Users/thoma/Documents/00GitHub/Cellavision_Trial_images/mosaic/images/Normal/681200836HV_002.jpg_0.png')
thumbData = np.array(thumb)
thumbData.shape

thumbDF = data[data.label].reset_index().ix[0]
thumbDF

KeyError: "['Normal' 'Normal' 'Normal' ..., 'Normal' 'Normal' 'Normal'] not in index"

In [22]:
# get array data from smear with label
X = []
Y = []
IDs = []

for n, im in data.iterrows():
    y = im.y
    x = im.x
    w = im.w
    h = im.h
    label = im.label
    
    X.append((n,3,w,h))
    Y.append(label)
    IDs.append(n)
    
X = np.array(X)
Y = np.array(Y)
IDs = np.array(IDs)

In [67]:
import hickle

In [100]:
GROUPS = {'Normal': (1,),
          'Abnormal': (2,),
         }

In [101]:
CLASSES = dict(enumerate(GROUPS.keys()))
CLASSES

{0: 'Abnormal', 1: 'Normal'}

In [102]:
CLASSES_FROM_CLASSNAME = {}
for i, k in CLASSES.items():
    for n in GROUPS[k]:
        CLASSES_FROM_CLASSNAME[n] = i

In [117]:
d = {}
d['X'] = X
d['y'] = Y
d['CLASSES'] = CLASSES
d['CLASSES_FROM_CLASSNAME'] = CLASSES_FROM_CLASSNAME
d['GROUPS'] = GROUPS

In [119]:
# (X, Y) -- ((N,3,w,h), label)

hickle.dump(d, open('C:/Users/thoma/Documents/00GitHub/rbc-cnn/data/dataset.hkl','w'))

dumping <type 'dict'> to file <HDF5 file "dataset.hkl" (mode r+)>

In [118]:
d

{'CLASSES': {0: 'Abnormal', 1: 'Normal'},
 'CLASSES_FROM_CLASSNAME': {1: 1, 2: 0},
 'GROUPS': {'Abnormal': (2,), 'Normal': (1,)},
 'X': array([[   0,    3,   42,   40],
        [   1,    3,   42,   40],
        [   2,    3,   37,   41],
        ...,
        [1487,    3,   41,   37],
        [1488,    3,   36,   39],
        [1489,    3,   38,   39]], dtype=int64),
 'y': array(['Normal', 'Normal', 'Normal', ..., 'Normal', 'Normal', 'Normal'],
       dtype='|S8')}

In [1]:
d['X']

NameError: name 'd' is not defined